.header{
    background: #fff;
    .container{
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        @include breakpoint(m){
            flex-direction: row;    
        }
    }
    &__contact{
       display: flex;
       margin: .5rem 0;
       @include breakpoint(m){
           margin: 0;
       }
       &--phone{
        display: flex;
        align-items: center;
        margin-right: 1rem;
        border: 1px solid #000;
       }
       &--phone span{
           padding: 0 .5rem;;
       }
       &--inquiry{
        background: #0f4beb;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 2rem;
        cursor: pointer;
       } 
    }
}