.nav{
    background: #000;
    ul{
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-direction: column;
        @include breakpoint(m){
            flex-direction: row;
        }
    }
    li{
        color: #fff;
        margin: 0 1.5rem;
        cursor: pointer;
        transition: .5s;
        @include breakpoint(l){
            margin: 0 2.5rem;
        }
        &:hover{
            color: gray;
        }
        &:not(:last-child){
            margin-bottom: 1rem;
            @include breakpoint(m){
                margin-bottom: 0;
            }
        }
    }
}

