body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    ul{
      list-style: none;
      padding: 0;
    }
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
    }

.page{
  &__row{
    padding-bottom: 2rem;
  }
  &__row-info{
      background: #f1f1f1;
      .container{
        flex-direction: column;
        @include breakpoint(l){
          flex-direction: row;
        }
      }
  }
  &__row-uni-rank{
    background: #fff;
  }
  &__onlineCard{
    flex-basis: 24rem;
    margin-top: -5.625rem;
    &--title{
      background: #ebebeb;
      padding: 1.5rem;
      font-size: 1.375rem;
      font-weight: 600;
    }
    &--content-container{
      padding-top: .5rem;
      padding-bottom: 2rem;
      background: #fff;
    }
    &--content{
      display: flex;
      padding: 1rem;
      padding-top: 2rem;
      div:first-child{
        padding-left: .5rem;
        padding-right: 1rem;
      }
      div:last-child{
        p{
          margin: 0;
          font-size: .875rem;
          margin-right: 1rem;;
        }
        p:first-child{
          margin-bottom: 1rem;
          font-size: 1rem;
          font-weight: 500;
        }

      }
    }
  }
  &__courses{
    flex: 1;
    padding-top: 1rem;
    @include breakpoint(l){
      padding-left: 2rem;
    }
    h1{
      font-size: 1.75rem;
      font-weight: 500;
      margin-bottom: 2rem;
    }

  }
}
